@import "../../variables.scss";

.contact-me {
  background-color: #{$moss-green};
  height: 100vh;
  display: flex;

  img {
    width: 50%;
    object-fit: cover;
  }

  aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 50px;
        font-family: "baskervville";
        text-transform: uppercase;
      }
      p {
        font-size: 18px;
        font-family: "inter", sans-serif;
        line-height: 100px;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      a {
        font-size: 20px;
        font-family: "inter", sans-serif;
        font-style: italic;
        line-height: 56px;
        text-decoration: none;
        color: #{$chinese-white};
        &:visited {
          color: #{$deep-green};
        }
        &:hover {
          color: #{$black};
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .contact-me {
    img {
      width: 40%;
    }
    aside {
      width: 60%;
      div {
        h2 {
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-me {
    aside {
      div {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .contact-me {
    // background-image: url("/src/assets/pictures/two-screens-unsplash.jpg");
    // background-size: cover;
    img {
      display: none;
    }
    aside {
      width: 100%;
      div {
        padding: 8px;
        h2 {
          font-size: 28px;
          line-height: 56px;
        }
        p {
          font-size: 16px;
          line-height: 72px;
        }
        h2,
        p {
          color: #{$dark-purple};
        }
      }

      nav {
        a {
          font-size: 18px;
          background-color: rgba($chinese-white, 0.2);
          backdrop-filter: blur(5px);
          border: 1px solid #{$dark-purple};
          border-radius: 4px;
          width: 100px;
          text-align: center;
          // Ne fonctionne pas?
          color: #{$chinese-white};
          &:not(:last-child) {
            margin-bottom: 16px;
          }
          &:hover {
            color: #{$dark-purple};
          }
        }
      }
    }
  }
}
