@import "../../variables.scss";

.projects {
  background-color: #{$chinese-white};

  h2 {
    font-size: 40px;
    font-family: "baskervville";
    text-transform: uppercase;
    line-height: 100px;
    margin-bottom: 80px;
    text-align: center;
  }

  menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  article {
    position: relative;
    width: calc(50% - 40px);
    margin-bottom: 48px;
  }

  img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    // transition: width 0.5s ease-in-out;
    // -webkit-filter: grayscale(0%);
    // filter: grayscale(0%);
    // position: relative;

    // &:hover {
    //   width: 140%;
    //   cursor: pointer;
    // flex-grow: 0;
    // -webkit-filter: grayscale(100%);
    // filter: grayscale(100%);
    // }
  }

  .description {
    background-color: rgba($black, 0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    padding: 56px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 0;
    transition: opacity 0.3s ease-in, filter 0.5s ease-in;
    // position: relative;

    &:hover {
      opacity: 1;
      transition: opacity 0.3s ease-in, filter 0.5s ease-in;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      pointer-events: all; // Allow interactions when visible
    }

    // Apply styles when not hovered
    &:not(:hover) {
      opacity: 0;
      transition: opacity 0.5s ease-in, filter 0.5s ease-in;
      // -webkit-filter: grayscale(0%);
      // filter: grayscale(0%);
    }

    h4,
    h5,
    li {
      font-family: "inter", sans-serif;
      color: #{$chinese-white};
      opacity: 1;
    }

    h4,
    h5 {
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    h4,
    li {
      font-weight: 500;
    }

    h4 {
      font-size: 18px;
      letter-spacing: 1px;
    }

    h5 {
      font-weight: 200;
    }

    li {
      line-height: 24px;
    }
  }
  button {
    position: absolute;
    bottom: 56px;
    right: 56px;
    cursor: pointer;
  }
}
