@import "../../variables.scss";

.header {
  height: 88px;
  background-color: #{$chinese-white};
  border-bottom: 0.5px solid #{$deep-green};
  position: sticky;
  top: 0;
  z-index: 100;
  // transition: all 0.4s ease-in;

  &.transparent {
    transition: all 0.2s ease-in;
    background-color: rgba($chinese-white, 0.3);
    backdrop-filter: blur(40px);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      display: none;
    }

    h1 {
      font-size: 40px;
      color: #{$black};
      font-family: "baskervville";
      line-height: 48px;
    }

    // the cart
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0px;
      padding: 4px;
      // background-color: red;
      cursor: pointer;

      svg {
        position: relative;
      }
    }

    nav {
      a {
        font-family: "inter", sans-serif;
        text-decoration: none;
        line-height: 32px;
        font-size: 16px;
        color: #{$black};
        display: inline-block;
        position: relative;

        &:not(:last-child) {
          margin-right: 72px;
        }

        &:hover {
          color: #{$dark-purple};
        }

        &::after {
          content: " ";
          display: block;
          width: 0;
          height: 1.5px;
          background: #{$moss-green};
          position: absolute;
          bottom: 45%;
          z-index: -1;
        }

        &:hover::after {
          width: 100%;
          -webkit-transition: width 0.5s;
          -moz-transition: width 0.5s;
          -o-transition: width 0.5s;
          transition: width 0.5s;
        }
      }
    }
  }
}

.cart-item {
  width: 10px;
  height: 10px;
  background-color: #{$deep-green};
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: 7px;
  transition: all 0.3s ease-out;
}

.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
  // margin: 70px 200px;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse,
    glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) 0.5%,
    transparent 1%
  );

  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

// -- MEDIA -- /

@media (max-width: 1400px) {
  .header {
    height: 80px;

    div {
      nav {
        a {
          font-size: 14px;
          line-height: 28px;
          &:not(:last-child) {
            margin-right: 56px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 72px;
    div {
      nav {
        a {
          line-height: 20px;
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    div {
      flex-direction: row;
      height: 100%;
      svg {
        display: block;
        position: absolute;
        left: 0;
        margin: 0 auto;
      }
      h1 {
        font-size: 32px;
        margin-left: 32px;
      }

      nav {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    div {
      h1 {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 430px) {
  .header {
    height: 48px;
    div {
      h1 {
        font-size: 23px;
        line-height: unset;
      }
    }
  }
}

// Ce que je vois sur mon téléphone :
@media (max-width: 360px) {
  .header {
    div {
      h1 {
        font-size: 21px;
        margin-left: 24px;
      }
    }
  }
}
