.container {
  width: 1280px;
  margin: 0 auto;
}

.sections {
  padding: 88px 24px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

@media (max-width: 1400px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
  .sections {
    padding: 32px 24px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 576px;
  }
  .sections {
    padding: 32px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 430px;
  }
  .sections {
    padding: 24px;
  }
}

// Grands iPhones
@media (max-width: 430px) {
  .container {
    // width: 320px;
    width: 400px;
  }
  .sections {
    padding: 32px 16px;
  }
}

// Mon telephone
@media (max-width: 360px) {
  .container {
    width: 340px;
  }
}
