.container {
  width: 1280px;
  margin: 0 auto;
}

.sections {
  padding: 88px 24px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

@media (max-width: 1400px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
  .sections {
    padding: 32px 24px;
  }
}
