@import "../../variables.scss";

.hero {
  // width: 100vw; // Ca créé un horizontal scroll indésirable ...
  height: 100vh;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div {
    padding: 48px 24px;
    width: 380px;
    position: absolute;
    right: 150px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: transparent;
    backdrop-filter: blur(16px);
  }

  h2 {
    font-family: "baserkvvile";
    color: #{$chinese-white};
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 40px;
    text-align: right;
    margin-bottom: 8px;
  }
}
