@import "../../variables.scss";

.hero {
  height: calc(100vh - 88px); // taille du header
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div {
    padding: 48px 24px;
    width: 400px;
    position: absolute;
    right: 150px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: transparent;
    backdrop-filter: blur(16px);
    animation: fadeIn 1.5s ease-out 1.5s forwards;
    opacity: 0;

    h2 {
      font-family: "baskervville";
      color: #{$chinese-white};
      font-size: 24px;
      font-weight: 100;
      text-transform: uppercase;
      line-height: 40px;
      text-align: right;
      margin-bottom: 8px;
      // opacity: 0;
      // transform: perspective(500px) translate3d(-35px, -40px, -150px)
      //   rotate3d(1, -1, 0, 35deg);
      animation: fadeIn 2s ease-out 1s forwards;
    }

    h2,
    button {
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px)
        rotate3d(1, -1, 0, 35deg);
    }

    button {
      animation: fadeIn 1s ease-out 3.5s forwards;
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
      }
    }
  }
}

// -- MEDIA --//
@media (max-width: 1400px) {
  .hero {
    height: calc(100vh - 80px);

    div {
      right: 100px;
      bottom: 50px;

      h2 {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    div {
      right: 50px;
      bottom: 25px;
      width: 340px;

      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: calc(100vh - 72px);
    div {
      gap: 24px;
    }
  }
}

@media (max-width: 640px) {
  .hero {
    div {
      padding: 24px;
      right: 25px;
      bottom: 100px;
      // transform: translate(50%, 50%);
      width: 310px;

      h2 {
        font-size: 18px;
        margin-bottom: 0px;
        line-height: 32px;
      }
    }
  }
}

@media (max-width: 430px) {
  .hero {
    height: calc(100vh - 48px);
    div {
      width: 80%;
      h2 {
        font-size: 16px;
      }
    }
  }
}
